---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v8.0/me/accounts?access_token=<FACEBOOK_API_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"1050253aec7b29caff644806927dabfa81406eee"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v8.0
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
    body:
      encoding: UTF-8
      string: '{"data":[]}'
  recorded_at: Wed, 11 Nov 2020 11:43:25 GMT
recorded_with: VCR 6.0.0
