---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v3.3/me/accounts?access_token=<FACEBOOK_API_TOKEN>&appsecret_proof=<FACEBOOK_SECRET_PROOF>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d726d1066b90393503953c6067b2011142da2c47"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.3
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"access_token":"EAAHAMFn9XpUBALP0Ek9ooNNljTGe0cqZAVd37XoNvuoumiIWgMFnvZB090duxa5URQn0ZAw34XiXZBs0KlUFlHKQjug6TBW5KZAy83o4pPuL0hITHG7jmSfd5XmyXMjDz1ni4eTsDSpXFAn2qbxSnbR0O2je7r6MacWlEuXbuRQZDZD","category":"Business
        Service","category_list":[{"id":"187133811318958","name":"Business Service"}],"name":"Mikhail
        Tretiakov","id":"250515082286181","tasks":["ANALYZE","ADVERTISE","MODERATE","CREATE_CONTENT","MANAGE"]}],"paging":{"cursors":{"before":"MjUwNTE1MDgyMjg2MTgx","after":"MjUwNTE1MDgyMjg2MTgx"}}}'
  recorded_at: Sun, 11 Nov 2018 08:45:03 GMT
recorded_with: VCR 4.0.0
