---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v3.2/act_<FACEBOOK_ACCOUNT_ID>/campaigns?access_token=<FACEBOOK_API_TOKEN>&appsecret_proof=0074f3c22877a79472449cf3207c9c45b41a74853f406d453edc54d3d497098b
    body:
      encoding: UTF-8
      string: name=Test+campaign&objective=CONVERSIONS
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.2
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
    body:
      encoding: UTF-8
      string: '{"id":"120330000053077610"}'
  recorded_at: Sat, 03 Nov 2018 10:23:20 GMT
recorded_with: VCR 4.0.0
