---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v3.2/act_<FACEBOOK_ACCOUNT_ID>/ads?access_token=<FACEBOOK_API_TOKEN>&appsecret_proof=0074f3c22877a79472449cf3207c9c45b41a74853f406d453edc54d3d497098b
    body:
      encoding: UTF-8
      string: adset_id=120330000053077910&creative=%7B%22creative_id%22%3A%22120330000053085310%22%7D&name=Ad+Name&status=PAUSED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.2
      Www-Authenticate:
      - OAuth "Facebook Platform" "unknown_error" "An unexpected error has occurred.
        Please retry your request later."
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"message":"An unexpected error has occurred. Please retry
        your request later.","type":"OAuthException","is_transient":true,"code":2,"fbtrace_id":"FCaipZr7FIQ"}}'
  recorded_at: Sun, 04 Nov 2018 15:52:06 GMT
recorded_with: VCR 4.0.0
