---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v3.3/act_<FACEBOOK_ACCOUNT_ID>/ads?access_token=<FACEBOOK_API_TOKEN>&appsecret_proof=c5d4f1eebf39afa8ffbd8366d1972928228e19175135d7a99686a7e11b4fbcc2
    body:
      encoding: UTF-8
      string: adset_id=23843093138150049&creative=%7B%22creative_id%22%3A%2223843093148650049%22%7D&name=Ad+Name&status=PAUSED
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.3
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
    body:
      encoding: UTF-8
      string: '{"id":"23843093149950049"}'
  recorded_at: Mon, 05 Nov 2018 15:32:04 GMT
recorded_with: VCR 4.0.0
