---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v3.2/search?access_token=<FACEBOOK_API_TOKEN>&appsecret_proof=0074f3c22877a79472449cf3207c9c45b41a74853f406d453edc54d3d497098b&location_types%5B%5D=country&q=Mexico&type=adgeolocation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"3867519df580e557773f8858afd0e53125d42c68"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.2
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"key":"MX","name":"Mexico","type":"country","country_code":"MX","country_name":"Mexico","supports_region":true,"supports_city":true}],"paging":{"cursors":{"before":"MAZDZD","after":"MAZDZD"},"next":"https:\/\/graph.facebook.com\/v3.2\/search?access_token=<FACEBOOK_API_TOKEN>&type=adgeolocation&location_types\u00255B0\u00255D=country&q=Mexico&limit=25&after=MAZDZD"}}'
  recorded_at: Sat, 03 Nov 2018 09:01:53 GMT
recorded_with: VCR 4.0.0
