---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v3.2/search?access_token=<FACEBOOK_API_TOKEN>&appsecret_proof=0074f3c22877a79472449cf3207c9c45b41a74853f406d453edc54d3d497098b&q=Spanish&type=adlocale
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"0a25124b0cfbe506e0c09a3820f3645ab54617a8"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.2
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"name":"Spanish","key":23},{"name":"Spanish (Spain)","key":7},{"name":"Spanish
        (All)","key":1002}],"paging":{"cursors":{"before":"MAZDZD","after":"MgZDZD"}}}'
  recorded_at: Sat, 03 Nov 2018 09:03:36 GMT
recorded_with: VCR 4.0.0
