---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v3.2/search?access_token=<FACEBOOK_API_TOKEN>&appsecret_proof=c5d4f1eebf39afa8ffbd8366d1972928228e19175135d7a99686a7e11b4fbcc2&location_types%5B%5D=country&q=Mexico&type=adgeolocation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"a13883092316488215572eb000c2760285fdf66c"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.2
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"key":"MX","name":"Mexico","type":"country","country_code":"MX","country_name":"Mexico","supports_region":true,"supports_city":true}],"paging":{"cursors":{"before":"MAZDZD","after":"MAZDZD"},"next":"https:\/\/graph.facebook.com\/v3.2\/search?access_token=<FACEBOOK_API_TOKEN>&type=adgeolocation&location_types\u00255B0\u00255D=country&q=Mexico&limit=25&after=MAZDZD"}}'
  recorded_at: Mon, 05 Nov 2018 15:35:55 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v3.2/search?access_token=<FACEBOOK_API_TOKEN>&appsecret_proof=c5d4f1eebf39afa8ffbd8366d1972928228e19175135d7a99686a7e11b4fbcc2&q=Spanish&type=adlocale
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"0a25124b0cfbe506e0c09a3820f3645ab54617a8"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.2
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"name":"Spanish","key":23},{"name":"Spanish (Spain)","key":7},{"name":"Spanish
        (All)","key":1002}],"paging":{"cursors":{"before":"MAZDZD","after":"MgZDZD"}}}'
  recorded_at: Mon, 05 Nov 2018 15:35:55 GMT
recorded_with: VCR 4.0.0
