---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=1%2Fum8KWf3a-USh8dzvqf24Ar1kW5HjiCw3vbyAY5nZ7Z7zgqf96mwC_78F0rdicB5_&client_id=<GOOGLE_CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "ya29.Gl1RBu0ATxpLjGXPZ-sGvBU2kMfUzfsUoIcqYA9V_GjhQ6KxBz9zkFQTt5OM78KLuo40zvwDtJa4Ew6ZpGZh2dYsTO8BGsY-s3ORFiKr9QbwWPXh-5gGwzjj4xzFePA",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/spreadsheets https://www.googleapis.com/auth/drive",
          "token_type": "Bearer"
        }
  recorded_at: Sun, 11 Nov 2018 09:02:52 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=*&pageSize=1&q=(mimeType%20=%20%27application/vnd.google-apps.spreadsheet%27)%20and%20(name%20=%20%27Facebook%20import%27)&supportsTeamDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Gl1RBu0ATxpLjGXPZ-sGvBU2kMfUzfsUoIcqYA9V_GjhQ6KxBz9zkFQTt5OM78KLuo40zvwDtJa4Ew6ZpGZh2dYsTO8BGsY-s3ORFiKr9QbwWPXh-5gGwzjj4xzFePA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#fileList",
         "incompleteSearch": false,
         "files": [
          {
           "kind": "drive#file",
           "id": "1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg",
           "name": "Facebook import",
           "mimeType": "application/vnd.google-apps.spreadsheet",
           "starred": false,
           "trashed": false,
           "explicitlyTrashed": false,
           "parents": [
            "0AMforvTQTX3DUk9PVA"
           ],
           "spaces": [
            "drive"
           ],
           "version": "63",
           "webViewLink": "https://docs.google.com/spreadsheets/d/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/edit?usp=drivesdk",
           "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.spreadsheet",
           "hasThumbnail": true,
           "thumbnailLink": "https://docs.google.com/feeds/vt?gd=true&id=1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg&v=43&s=AMedNnoAAAAAW-gMXIHmrAiqmZb5Cxnv6bwTJf9mstKT&sz=s220",
           "thumbnailVersion": "43",
           "viewedByMe": true,
           "viewedByMeTime": "2018-11-11T08:58:08.718Z",
           "createdTime": "2018-11-01T09:07:00.318Z",
           "modifiedTime": "2018-11-11T08:58:08.718Z",
           "modifiedByMeTime": "2018-11-11T08:58:08.718Z",
           "modifiedByMe": true,
           "owners": [
            {
             "kind": "drive#user",
             "displayName": "Jack Nidle",
             "me": true,
             "permissionId": "03628981808807510979",
             "emailAddress": "jacknidle@gmail.com"
            }
           ],
           "lastModifyingUser": {
            "kind": "drive#user",
            "displayName": "Jack Nidle",
            "me": true,
            "permissionId": "03628981808807510979",
            "emailAddress": "jacknidle@gmail.com"
           },
           "shared": false,
           "ownedByMe": true,
           "capabilities": {
            "canAddChildren": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDownload": true,
            "canEdit": true,
            "canListChildren": false,
            "canMoveItemIntoTeamDrive": true,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
           },
           "viewersCanCopyContent": true,
           "copyRequiresWriterPermission": false,
           "writersCanShare": true,
           "permissions": [
            {
             "kind": "drive#permission",
             "id": "03628981808807510979",
             "type": "user",
             "emailAddress": "jacknidle@gmail.com",
             "role": "owner",
             "displayName": "Jack Nidle",
             "deleted": false
            }
           ],
           "permissionIds": [
            "03628981808807510979"
           ],
           "quotaBytesUsed": "0",
           "isAppAuthorized": false
          }
         ]
        }
  recorded_at: Sun, 11 Nov 2018 09:02:52 GMT
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/worksheets/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/private/full
    body:
      encoding: UTF-8
      string: ''
    headers:
      Gdata-Version:
      - '3.0'
      Authorization:
      - Bearer ya29.Gl1RBu0ATxpLjGXPZ-sGvBU2kMfUzfsUoIcqYA9V_GjhQ6KxBz9zkFQTt5OM78KLuo40zvwDtJa4Ew6ZpGZh2dYsTO8BGsY-s3ORFiKr9QbwWPXh-5gGwzjj4xzFePA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8; type=feed
      Gdata-Version:
      - '3.0'
      Etag:
      - W/"DE4BSXYyeyt7ImA9XBJSGU8."
      Last-Modified:
      - Sun, 11 Nov 2018 09:02:38 GMT
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearch/1.1/' xmlns:gs='http://schemas.google.com/spreadsheets/2006'
        xmlns:gd='http://schemas.google.com/g/2005' gd:etag='W/&quot;DE4BSXYyeyt7ImA9XBJSGU8.&quot;'><id>https://spreadsheets.google.com/feeds/worksheets/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/private/full</id><updated>2018-11-11T09:02:38.893Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#worksheet'/><title>Facebook
        import</title><link rel='alternate' type='application/atom+xml' href='https://docs.google.com/spreadsheets/d/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/edit'/><link
        rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/private/full'/><link
        rel='http://schemas.google.com/g/2005#post' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/private/full'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/private/full'/><author><name>jacknidle</name><email>jacknidle@gmail.com</email></author><openSearch:totalResults>1</openSearch:totalResults><openSearch:startIndex>1</openSearch:startIndex><entry
        gd:etag='&quot;YGsFSQkSBCt7Ig..&quot;'><id>https://spreadsheets.google.com/feeds/worksheets/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/od6</id><updated>2018-11-11T09:02:38.893Z</updated><app:edited
        xmlns:app='http://www.w3.org/2007/app'>2018-11-11T09:02:38.893Z</app:edited><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#worksheet'/><title>Лист1</title><content
        type='application/atom+xml;type=feed' src='https:[...]
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/cells/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/od6/private/full
    body:
      encoding: UTF-8
      string: ''
    headers:
      Gdata-Version:
      - '3.0'
      Authorization:
      - Bearer ya29.Gl1RBu0ATxpLjGXPZ-sGvBU2kMfUzfsUoIcqYA9V_GjhQ6KxBz9zkFQTt5OM78KLuo40zvwDtJa4Ew6ZpGZh2dYsTO8BGsY-s3ORFiKr9QbwWPXh-5gGwzjj4xzFePA
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      [...]
- request:
    method: get
    uri: https://graph.facebook.com/v8.0/act_<FACEBOOK_ACCOUNT_ID>/campaigns?access_token=<FACEBOOK_API_TOKEN>&appsecret_proof=<FACEBOOK_SECRET_PROOF>&fields=name&limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"63e52e54088474dcc842c61dccafb4d7f18cbda6"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.3
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"name":"Test campaign","id":"23843093131260049"},{"name":"MX
        - How one family paid off from debt - Conversions - take 2","id":"23843093121510049"},{"name":"MX
        - How one family paid off from debt - Conversions - take 2","id":"23843093066040049"},{"name":"MX
        - How one family paid off from debt - Conversions - take 3","id":"23843093065140049"},{"name":"MX
        - How one family paid off from debt - Conversions - take 3","id":"23843091529620049"},{"name":"MX
        - How one family paid off from debt - Conversions - take 2","id":"23843091525120049"}],"paging":{"cursors":{"before":"MjM4NDMwOTMxMzEyNjAwNDkZD","after":"MjM4NDMwOTE1MjUxMjAwNDkZD"}}}'
  recorded_at: Sun, 11 Nov 2018 09:02:54 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v8.0/act_<FACEBOOK_ACCOUNT_ID>/adsets?access_token=<FACEBOOK_API_TOKEN>&appsecret_proof=<FACEBOOK_SECRET_PROOF>&fields=name&limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"4879b84458e4b1eedfe98f4e72b86765c2e0a02a"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.3
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"name":"MX - (18+) - 1","id":"23843093138150049"},{"name":"MX
        - (18+) - 1 - take 2","id":"23843093121540049"},{"name":"MX - (18+) - 1 -
        take 2","id":"23843093066090049"},{"name":"MX - (18+) - 1 - take 3","id":"23843093065170049"},{"name":"MX
        - (18+) - 1 - take 3","id":"23843091529640049"},{"name":"MX - (18+) - 1 -
        take 2","id":"23843091525210049"}],"paging":{"cursors":{"before":"MjM4NDMwOTMxMzgxNTAwNDkZD","after":"MjM4NDMwOTE1MjUyMTAwNDkZD"}}}'
  recorded_at: Sun, 11 Nov 2018 09:02:54 GMT
- request:
    method: get
    uri: https://www.google.ru/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/png
      Last-Modified:
      - Thu, 08 Dec 2016 01:00:57 GMT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        iVBORw0KGgoAAAANSUhEUgAAAiAAAAC4CAYAAADaI1cbAAA0h0lEQVR4AezdA5AlPx7A8Zxt27Z9r5P[...]
- request:
    method: post
    uri: https://graph.facebook.com/v8.0/act_<FACEBOOK_ACCOUNT_ID>/adimages?access_token=<FACEBOOK_API_TOKEN>&appsecret_proof=<FACEBOOK_SECRET_PROOF>
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        LS0tLS0tLS0tLS0tLVJ1YnlNdWx0aXBhcnRQb3N0LTdlN2Q4NmZlZWQwMThiNjllNDQxODViNGRlMDkyM2Y4DQpDb250ZW50LURpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9Imdvb2dsZWxvZ29fY29sb3JfMjcyeDkyZHAucG5nIjsgZmlsZW5hbWU9Imdvb2dsZWxvZ29fY29sb3JfMjcyeDkyZHAyMDE4MTExMS0yMTEyNC0xMnE1[...]
- request:
    method: get
    uri: https://graph.facebook.com/v8.0/me/accounts?access_token=<FACEBOOK_API_TOKEN>&appsecret_proof=<FACEBOOK_SECRET_PROOF>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"a74de0ed1151262855e3f71efe8d4a4dea2071fd"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.3
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"access_token":"EAAHAMFn9XpUBAKWZCmhsnR7tQQL41JFAdbP7P3UO96CblqY6hlI8r2gWkPIxRbs3OvogRVbPcZArf84joZCa5BdvQarQPngAkj2BG1MrMmSdQUjHMa5SjnnBI5J1iZATgTW1GEYfXsLE3ZAHA0U5J234LSSwZCpYqvxlAQpRuaGQZDZD","category":"Business
        Service","category_list":[{"id":"187133811318958","name":"Business Service"}],"name":"Mikhail
        Tretiakov","id":"250515082286181","tasks":["ANALYZE","ADVERTISE","MODERATE","CREATE_CONTENT","MANAGE"]}],"paging":{"cursors":{"before":"MjUwNTE1MDgyMjg2MTgx","after":"MjUwNTE1MDgyMjg2MTgx"}}}'
  recorded_at: Sun, 11 Nov 2018 09:02:56 GMT
- request:
    method: post
    uri: https://graph.facebook.com/v8.0/act_<FACEBOOK_ACCOUNT_ID>/adcreatives?access_token=<FACEBOOK_API_TOKEN>&appsecret_proof=<FACEBOOK_SECRET_PROOF>
    body:
      encoding: UTF-8
      string: object_story_spec=%7B%22page_id%22%3A%22250515082286181%22%2C%22link_data%22%3A%7B%22message%22%3A%22C%C3%B3mo+una+mujer+cambi%C3%B3+su+vida+a+pesar+de+todos+los+desaf%C3%ADos.%22%2C%22link%22%3A%22http%3A%2F%2Fmartzharmony.com%2Fhow-one-family-paid-off-30000-of-credit-card-debt-in-less-than-2-year%22%2C%22attachment_style%22%3A%22link%22%2C%22caption%22%3A%22%22%2C%22name%22%3A%22%C2%BFQui%C3%A9n+hubiera+pensado+que+podr%C3%ADa+cambiar+su+vida%3F%22%2C%22description%22%3A%22-%22%2C%22image_hash%22%3A%2244f7b10573e63b4ab4a0929dd0ef0906%22%7D%7D&object_type=SHARE&url_tags=Ad%3D1%26d%3D1_30.10%26utm_source%3DS1VM33BM%26utm_medium%3D191490645002195
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.3
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
    body:
      encoding: UTF-8
      string: '{"id":"23843104919190049"}'
  recorded_at: Sun, 11 Nov 2018 09:03:01 GMT
- request:
    method: post
    uri: https://graph.facebook.com/v8.0/act_<FACEBOOK_ACCOUNT_ID>/ads?access_token=<FACEBOOK_API_TOKEN>&appsecret_proof=<FACEBOOK_SECRET_PROOF>
    body:
      encoding: UTF-8
      string: adset_id=23843093121540049&creative=%7B%22creative_id%22%3A%2223843104919190049%22%7D&name=Ads+1+-+take+2&status=ACTIVE
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.3
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
    body:
      encoding: UTF-8
      string: '{"id":"23843104919350049"}'
  recorded_at: Sun, 11 Nov 2018 09:03:05 GMT
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/cells/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/od6/private/full?max-col=1&max-row=5&min-col=1&min-row=5&return-empty=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Gdata-Version:
      - '3.0'
      Authorization:
      - Bearer ya29.Gl1RBu0ATxpLjGXPZ-sGvBU2kMfUzfsUoIcqYA9V_GjhQ6KxBz9zkFQTt5OM78KLuo40zvwDtJa4Ew6ZpGZh2dYsTO8BGsY-s3ORFiKr9QbwWPXh-5gGwzjj4xzFePA
      Content-Type:
      - applic[...]
- request:
    method: post
    uri: https://spreadsheets.google.com/feeds/cells/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/od6/private/full/batch
    body:
      encoding: UTF-8
      string: |2
                      <feed xmlns="http://www.w3.org/2005/Atom"
                            xmlns:batch="http://schemas.google.com/gdata/batch"
                            xmlns:gs="http://schemas.google.com/spreadsheets/2006">
                        <id>https://spreadsheets.google.com/feeds/cells/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/od6/private/full</id>
                        <entry>
                          <batch:id>5,1</batch:id>
                          <batch:operation type="update"/>
                          <id>https://spreadsheets.google.com/feeds/cells/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/od6/R5C1</id>
                          <link
                            rel="edit"
                            type="application/atom+xml"
                            href="https://spreadsheets.google.com/feeds/cells/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/od6/private/full/R5C1"/>
                          <gs:cell
                            row="5"
                            col="1"
                            inputValue="done"/>
                        </entry>
                  </feed>
    headers:
      Gdata-Version:
      - '3.0'
      Content-Type:
      - application/atom+xml;charset=utf-8
      If-Match:
      - "*"
      Authorization:
      - Bearer ya29.Gl1RBu0ATxpLjGXPZ-sGvBU2kMfUzfsUoIcqYA9V_GjhQ6KxBz9zkFQTt5OM78KLuo40zvwDtJa4Ew6ZpGZh2dYsTO8BGsY-s3ORFiKr9QbwWPXh-5gGwzjj4xzFePA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8; type=feed
      Gdata-Version:
      - '3.0'
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearch/1.1/' xmlns:batch='http://schemas.google.com/gdata/batch'
        xmlns:gs='http://schemas.google.com/spreadsheets/2006'><id>https://spreadsheets.google.com/feeds/cells/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/od6/batch/1541926985894</id><updated>2018-11-11T09:03:05.930Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#cell'/><title>Batch
        Feed</title><entry xmlns:gd='http://schemas.google.com/g/2005' gd:etag='&quot;ImA9BkoFTSt7&quot;'><id>https://spreadsheets.google.com/feeds/cells/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/od6/R5C1</id><updated>2018-11-11T09:02:38.893Z</updated><app:edited
        xmlns:app='http://www.w3.org/2007/app'>2018-11-11T09:02:38.893Z</app:edited><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#cell'/><title>A5</title><content>done</content><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/cells/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/od6/private/full/R5C1'/><link
        rel='edit' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/cells/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/od6/private/full/R5C1'/><gs:cell
        row='5' col='1' inputValue='done'>done</gs:cell><batch:id>5,1</batch:id><batch:status
        code='200' reason='Success'/><batch:operation type='update'/></entry></feed>"
  recorded_at: Sun, 11 Nov 2018 09:03:06 GMT
recorded_with: VCR 4.0.0
