---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=1%2Fum8KWf3a-USh8dzvqf24Ar1kW5HjiCw3vbyAY5nZ7Z7zgqf96mwC_78F0rdicB5_&client_id=<GOOGLE_CLIENT_ID>&client_secret=<GOOGLE_CLIENT_SECRET>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "ya29.Gl1LBjy7v8BlOwyom7xmjTB4reyeq01uf7TJLKLb1udkK5bwLrTZWsCpGDS-tVLmgKu448-OsYwLaI0llOKJbfbIhPnCsW6JH4rKBiUKv0VryWtJmr2_eKoxwkTP4pw",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/drive https://www.googleapis.com/auth/spreadsheets",
          "token_type": "Bearer"
        }
  recorded_at: Mon, 05 Nov 2018 15:20:44 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files?fields=*&pageSize=1&q=(mimeType%20=%20%27application/vnd.google-apps.spreadsheet%27)%20and%20(name%20=%20%27Facebook%20import%27)&supportsTeamDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Gl1LBjy7v8BlOwyom7xmjTB4reyeq01uf7TJLKLb1udkK5bwLrTZWsCpGDS-tVLmgKu448-OsYwLaI0llOKJbfbIhPnCsW6JH4rKBiUKv0VryWtJmr2_eKoxwkTP4pw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#fileList",
         "incompleteSearch": false,
         "files": [
          {
           "kind": "drive#file",
           "id": "1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg",
           "name": "Facebook import",
           "mimeType": "application/vnd.google-apps.spreadsheet",
           "starred": false,
           "trashed": false,
           "explicitlyTrashed": false,
           "parents": [
            "0AMforvTQTX3DUk9PVA"
           ],
           "spaces": [
            "drive"
           ],
           "version": "58",
           "webViewLink": "https://docs.google.com/spreadsheets/d/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/edit?usp=drivesdk",
           "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.spreadsheet",
           "hasThumbnail": true,
           "thumbnailLink": "https://docs.google.com/feeds/vt?gd=true&id=1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg&v=40&s=AMedNnoAAAAAW-B77e4ECsxTXRw40C-rFDoEN7hYIGaa&sz=s220",
           "thumbnailVersion": "40",
           "viewedByMe": true,
           "viewedByMeTime": "2018-11-05T15:16:15.534Z",
           "createdTime": "2018-11-01T09:07:00.318Z",
           "modifiedTime": "2018-11-05T15:16:15.534Z",
           "modifiedByMeTime": "2018-11-05T15:16:15.534Z",
           "modifiedByMe": true,
           "owners": [
            {
             "kind": "drive#user",
             "displayName": "Jack Nidle",
             "me": true,
             "permissionId": "03628981808807510979",
             "emailAddress": "jacknidle@gmail.com"
            }
           ],
           "lastModifyingUser": {
            "kind": "drive#user",
            "displayName": "Jack Nidle",
            "me": true,
            "permissionId": "03628981808807510979",
            "emailAddress": "jacknidle@gmail.com"
           },
           "shared": false,
           "ownedByMe": true,
           "capabilities": {
            "canAddChildren": false,
            "canChangeCopyRequiresWriterPermission": true,
            "canChangeViewersCanCopyContent": true,
            "canComment": true,
            "canCopy": true,
            "canDelete": true,
            "canDownload": true,
            "canEdit": true,
            "canListChildren": false,
            "canMoveItemIntoTeamDrive": true,
            "canReadRevisions": true,
            "canRemoveChildren": false,
            "canRename": true,
            "canShare": true,
            "canTrash": true,
            "canUntrash": true
           },
           "viewersCanCopyContent": true,
           "copyRequiresWriterPermission": false,
           "writersCanShare": true,
           "permissions": [
            {
             "kind": "drive#permission",
             "id": "03628981808807510979",
             "type": "user",
             "emailAddress": "jacknidle@gmail.com",
             "role": "owner",
             "displayName": "Jack Nidle",
             "deleted": false
            }
           ],
           "permissionIds": [
            "03628981808807510979"
           ],
           "quotaBytesUsed": "0",
           "isAppAuthorized": false
          }
         ]
        }
  recorded_at: Mon, 05 Nov 2018 15:20:45 GMT
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/worksheets/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/private/full
    body:
      encoding: UTF-8
      string: ''
    headers:
      Gdata-Version:
      - '3.0'
      Authorization:
      - Bearer ya29.Gl1LBjy7v8BlOwyom7xmjTB4reyeq01uf7TJLKLb1udkK5bwLrTZWsCpGDS-tVLmgKu448-OsYwLaI0llOKJbfbIhPnCsW6JH4rKBiUKv0VryWtJmr2_eKoxwkTP4pw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8; type=feed
      Gdata-Version:
      - '3.0'
      Etag:
      - W/"C0UESXo8fyt7ImA9XBJSFE4."
      Last-Modified:
      - Mon, 05 Nov 2018 15:20:08 GMT
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearch/1.1/' xmlns:gs='http://schemas.google.com/spreadsheets/2006'
        xmlns:gd='http://schemas.google.com/g/2005' gd:etag='W/&quot;C0UESXo8fyt7ImA9XBJSFE4.&quot;'><id>https://spreadsheets.google.com/feeds/worksheets/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/private/full</id><updated>2018-11-05T15:20:08.477Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#worksheet'/><title>Facebook
        import</title><link rel='alternate' type='application/atom+xml' href='https://docs.google.com/spreadsheets/d/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/edit'/><link
        rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/private/full'/><link
        rel='http://schemas.google.com/g/2005#post' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/private/full'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/private/full'/><author><name>jacknidle</name><email>jacknidle@gmail.com</email></author><openSearch:totalResults>1</openSearch:totalResults><openSearch:startIndex>1</openSearch:startIndex><entry
        gd:etag='&quot;YGsFSQkSFSt7Ig..&quot;'><id>https://spreadsheets.google.com/feeds/worksheets/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/od6</id><updated>2018-11-05T15:20:08.477Z</updated><app:edited
        xmlns:app='http://www.w3.org/2007/app'>2018-11-05T15:20:08.477Z</app:edited><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#worksheet'/><title>Лист1</title><content
        type='application/atom+xml;type=feed' src='https:[...]
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/cells/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/od6/private/full
    body:
      encoding: UTF-8
      string: ''
    headers:
      Gdata-Version:
      - '3.0'
      Authorization:
      - Bearer ya29.Gl1LBjy7v8BlOwyom7xmjTB4reyeq01uf7TJLKLb1udkK5bwLrTZWsCpGDS-tVLmgKu448-OsYwLaI0llOKJbfbIhPnCsW6JH4rKBiUKv0VryWtJmr2_eKoxwkTP4pw
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      [...]
- request:
    method: post
    uri: https://graph.facebook.com/v3.2/act_<FACEBOOK_ACCOUNT_ID>/campaigns?access_token=<FACEBOOK_API_TOKEN>&appsecret_proof=c5d4f1eebf39afa8ffbd8366d1972928228e19175135d7a99686a7e11b4fbcc2
    body:
      encoding: UTF-8
      string: name=MX+-+How+one+family+paid+off+from+debt+-+Conversions+-+take+2&objective=CONVERSIONS
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.2
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
    body:
      encoding: UTF-8
      string: '{"id":"23843093121510049"}'
  recorded_at: Mon, 05 Nov 2018 15:20:47 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v3.2/search?access_token=<FACEBOOK_API_TOKEN>&appsecret_proof=c5d4f1eebf39afa8ffbd8366d1972928228e19175135d7a99686a7e11b4fbcc2&location_types%5B%5D=country&q=Mexico&type=adgeolocation
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"a13883092316488215572eb000c2760285fdf66c"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.2
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"key":"MX","name":"Mexico","type":"country","country_code":"MX","country_name":"Mexico","supports_region":true,"supports_city":true}],"paging":{"cursors":{"before":"MAZDZD","after":"MAZDZD"},"next":"https:\/\/graph.facebook.com\/v3.2\/search?access_token=<FACEBOOK_API_TOKEN>&type=adgeolocation&location_types\u00255B0\u00255D=country&q=Mexico&limit=25&after=MAZDZD"}}'
  recorded_at: Mon, 05 Nov 2018 15:20:48 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v3.2/search?access_token=<FACEBOOK_API_TOKEN>&appsecret_proof=c5d4f1eebf39afa8ffbd8366d1972928228e19175135d7a99686a7e11b4fbcc2&q=Spanish&type=adlocale
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"0a25124b0cfbe506e0c09a3820f3645ab54617a8"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.2
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"name":"Spanish","key":23},{"name":"Spanish (Spain)","key":7},{"name":"Spanish
        (All)","key":1002}],"paging":{"cursors":{"before":"MAZDZD","after":"MgZDZD"}}}'
  recorded_at: Mon, 05 Nov 2018 15:20:48 GMT
- request:
    method: post
    uri: https://graph.facebook.com/v3.2/act_<FACEBOOK_ACCOUNT_ID>/adsets?access_token=<FACEBOOK_API_TOKEN>&appsecret_proof=c5d4f1eebf39afa8ffbd8366d1972928228e19175135d7a99686a7e11b4fbcc2
    body:
      encoding: UTF-8
      string: bid_strategy=LOWEST_COST_WITHOUT_CAP&billing_event=IMPRESSIONS&campaign_id=23843093121510049&daily_budget=5000&name=MX+-+%2818%2B%29+-+1+-+take+2&optimization_goal=OFFSITE_CONVERSIONS&promoted_object=%7B%22pixel_id%22%3A%222179086309031083%22%2C%22custom_event_type%22%3A%22LEAD%22%7D&status=PAUSED&targeting=%7B%22geo_locations%22%3A%7B%22countries%22%3A%5B%22MX%22%5D%2C%22location_types%22%3A%5B%22home%22%2C%22recent%22%5D%7D%2C%22age_min%22%3A18%2C%22age_max%22%3A65%2C%22locales%22%3A%5B23%5D%2C%22publisher_platforms%22%3A%5B%22facebook%22%5D%2C%22facebook_positions%22%3A%5B%22feed%22%5D%7D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.2
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
    body:
      encoding: UTF-8
      string: '{"id":"23843093121540049"}'
  recorded_at: Mon, 05 Nov 2018 15:20:52 GMT
- request:
    method: get
    uri: https://www.google.ru/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - image/png
      Last-Modified:
      - Thu, 08 Dec 2016 01:00:57 GMT
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        iVBORw0KGgoAAAANSUhEUgAAAiAAAAC4CAYAAADaI1cbAAA0h0lEQVR4AezdA5AlPx7A8Zxt27Z9r5P[...]
- request:
    method: post
    uri: https://graph.facebook.com/v3.2/act_<FACEBOOK_ACCOUNT_ID>/adimages?access_token=<FACEBOOK_API_TOKEN>&appsecret_proof=c5d4f1eebf39afa8ffbd8366d1972928228e19175135d7a99686a7e11b4fbcc2
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        LS0tLS0tLS0tLS0tLVJ1YnlNdWx0aXBhcnRQb3N0LTkwMDEwNDY5ZmFiY2M4ZDMxOTAwZWY0ZTk4MTg5OGVmDQpDb250ZW50LURpc3Bvc2l0aW9uOiBmb3JtLWRhdGE7IG5hbWU9Imdvb2dsZWxvZ29fY29sb3JfMjcyeDkyZHAucG5nIjsgZmlsZW5hbWU9Imdvb2dsZWxvZ29fY29[...]
- request:
    method: post
    uri: https://graph.facebook.com/v3.2/act_<FACEBOOK_ACCOUNT_ID>/adcreatives?access_token=<FACEBOOK_API_TOKEN>&appsecret_proof=c5d4f1eebf39afa8ffbd8366d1972928228e19175135d7a99686a7e11b4fbcc2
    body:
      encoding: UTF-8
      string: object_story_spec=%7B%22page_id%22%3A%22250515082286181%22%2C%22link_data%22%3A%7B%22message%22%3A%22C%C3%B3mo+una+mujer+cambi%C3%B3+su+vida+a+pesar+de+todos+los+desaf%C3%ADos.%22%2C%22link%22%3A%22http%3A%2F%2Fmartzharmony.com%2Fhow-one-family-paid-off-30000-of-credit-card-debt-in-less-than-2-year%22%2C%22attachment_style%22%3A%22link%22%2C%22caption%22%3A%22%22%2C%22name%22%3A%22%C2%BFQui%C3%A9n+hubiera+pensado+que+podr%C3%ADa+cambiar+su+vida%3F%22%2C%22description%22%3A%22-%22%2C%22image_hash%22%3A%2244f7b10573e63b4ab4a0929dd0ef0906%22%7D%7D&object_type=SHARE&url_tags=Ad%3D1%26d%3D1_30.10%26utm_source%3DS1VM33BM%26utm_medium%3D191490645002195
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.2
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
    body:
      encoding: UTF-8
      string: '{"id":"23843093121650049"}'
  recorded_at: Mon, 05 Nov 2018 15:20:58 GMT
- request:
    method: post
    uri: https://graph.facebook.com/v3.2/act_<FACEBOOK_ACCOUNT_ID>/ads?access_token=<FACEBOOK_API_TOKEN>&appsecret_proof=c5d4f1eebf39afa8ffbd8366d1972928228e19175135d7a99686a7e11b4fbcc2
    body:
      encoding: UTF-8
      string: adset_id=23843093121540049&creative=%7B%22creative_id%22%3A%2223843093121650049%22%7D&name=Ads+1+-+take+2&status=ACTIVE
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.2
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
    body:
      encoding: UTF-8
      string: '{"id":"23843093121720049"}'
  recorded_at: Mon, 05 Nov 2018 15:21:01 GMT
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/cells/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/od6/private/full?max-col=1&max-row=5&min-col=1&min-row=5&return-empty=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Gdata-Version:
      - '3.0'
      Authorization:
      - Bearer ya29.Gl1LBjy7v8BlOwyom7xmjTB4reyeq01uf7TJLKLb1udkK5bwLrTZWsCpGDS-tVLmgKu448-OsYwLaI0llOKJbfbIhPnCsW6JH4rKBiUKv0VryWtJmr2_eKoxwkTP4pw
      Content-Type:
      - applic[...]
- request:
    method: post
    uri: https://spreadsheets.google.com/feeds/cells/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/od6/private/full/batch
    body:
      encoding: UTF-8
      string: |2
                      <feed xmlns="http://www.w3.org/2005/Atom"
                            xmlns:batch="http://schemas.google.com/gdata/batch"
                            xmlns:gs="http://schemas.google.com/spreadsheets/2006">
                        <id>https://spreadsheets.google.com/feeds/cells/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/od6/private/full</id>
                        <entry>
                          <batch:id>5,1</batch:id>
                          <batch:operation type="update"/>
                          <id>https://spreadsheets.google.com/feeds/cells/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/od6/R5C1</id>
                          <link
                            rel="edit"
                            type="application/atom+xml"
                            href="https://spreadsheets.google.com/feeds/cells/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/od6/private/full/R5C1"/>
                          <gs:cell
                            row="5"
                            col="1"
                            inputValue="done"/>
                        </entry>
                  </feed>
    headers:
      Gdata-Version:
      - '3.0'
      Content-Type:
      - application/atom+xml;charset=utf-8
      If-Match:
      - "*"
      Authorization:
      - Bearer ya29.Gl1LBjy7v8BlOwyom7xmjTB4reyeq01uf7TJLKLb1udkK5bwLrTZWsCpGDS-tVLmgKu448-OsYwLaI0llOKJbfbIhPnCsW6JH4rKBiUKv0VryWtJmr2_eKoxwkTP4pw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8; type=feed
      Gdata-Version:
      - '3.0'
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearch/1.1/' xmlns:batch='http://schemas.google.com/gdata/batch'
        xmlns:gs='http://schemas.google.com/spreadsheets/2006'><id>https://spreadsheets.google.com/feeds/cells/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/od6/batch/1541431262108</id><updated>2018-11-05T15:21:02.140Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#cell'/><title>Batch
        Feed</title><entry xmlns:gd='http://schemas.google.com/g/2005' gd:etag='&quot;ImA9BkoFTSt7&quot;'><id>https://spreadsheets.google.com/feeds/cells/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/od6/R5C1</id><updated>2018-11-05T15:20:08.477Z</updated><app:edited
        xmlns:app='http://www.w3.org/2007/app'>2018-11-05T15:20:08.477Z</app:edited><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#cell'/><title>A5</title><content>done</content><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/cells/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/od6/private/full/R5C1'/><link
        rel='edit' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/cells/1MiSBJaJUeJVknz67V1wQj_3BYNRjDZtkTxIm2e8Zilg/od6/private/full/R5C1'/><gs:cell
        row='5' col='1' inputValue='done'>done</gs:cell><batch:id>5,1</batch:id><batch:status
        code='200' reason='Success'/><batch:operation type='update'/></entry></feed>"
  recorded_at: Mon, 05 Nov 2018 15:21:02 GMT
recorded_with: VCR 4.0.0
