---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v3.2/act_<FACEBOOK_ACCOUNT_ID>?access_token=<FACEBOOK_API_TOKEN>&appsecret_proof=<FACEBOOK_SECRET_PROOF>&fields=name,id,currency,account_status
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"92a07c2571d2cd58789980c70cafb4d9b0642127"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.2
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
    body:
      encoding: UTF-8
      string: '{"name":"New Sandbox Ad Account","id":"act_<FACEBOOK_ACCOUNT_ID>","currency":"USD","account_status":1}'
  recorded_at: Tue, 06 Nov 2018 12:34:34 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v3.2/act_<FACEBOOK_ACCOUNT_ID>/adsets?access_token=<FACEBOOK_API_TOKEN>&appsecret_proof=<FACEBOOK_SECRET_PROOF>&fields=id,status,name,promoted_object,daily_budget,campaign&limit=50&time_range%5Bsince%5D=2018-11-05&time_range%5Buntil%5D=2018-11-05
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"e356a7754d234c47603cccd48b7c53fa81251a52"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.2
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"120330000053102910","status":"ACTIVE","name":"MX -
        (18+) - 1","promoted_object":{"pixel_id":"1573475279464976"},"daily_budget":"500000","campaign":{"id":"120330000053102710"}},{"id":"120330000053102010","status":"ACTIVE","name":"MX
        - (18+) - 2","promoted_object":{"pixel_id":"1573475279464976","custom_event_type":"LEAD"},"daily_budget":"2500","campaign":{"id":"120330000053101810"}},{"id":"120330000053101110","status":"ACTIVE","name":"MX
        - (18+) - 1","promoted_object":{"pixel_id":"1573475279464976","custom_event_type":"LEAD"},"daily_budget":"500000","campaign":{"id":"120330000053100910"}},{"id":"120330000053100210","status":"ACTIVE","name":"MX
        - (18+) - 1","promoted_object":{"pixel_id":"1573475279464976","custom_event_type":"LEAD"},"daily_budget":"500000","campaign":{"id":"1203300000531000[...]
- request:
    method: get
    uri: https://graph.facebook.com/v3.2/120330000053102910/insights?access_token=<FACEBOOK_API_TOKEN>&appsecret_proof=<FACEBOOK_SECRET_PROOF>&fields=spend,cpm,cost_per_inline_link_click,inline_link_click_ctr,actions,inline_link_clicks&limit=10&time_range%5Bsince%5D=2018-11-05&time_range%5Buntil%5D=2018-11-05
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"b6cc6f46d5945793ad237cb5692fd8649a2df99c"'
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.2
    body:
      encoding: UTF-8
      string: '{"data":[{"spend":"10","cpm":"100","inline_link_clicks":"0","date_start":"2018-11-05","date_stop":"2018-11-05"}],"paging":{"cursors":{"before":"MAZDZD","after":"MAZDZD"}}}'
  recorded_at: Tue, 06 Nov 2018 12:34:35 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v3.2/120330000053102010/insights?access_token=<FACEBOOK_API_TOKEN>&appsecret_proof=<FACEBOOK_SECRET_PROOF>&fields=spend,cpm,cost_per_inline_link_click,inline_link_click_ctr,actions,inline_link_clicks&limit=10&time_range%5Bsince%5D=2018-11-05&time_range%5Buntil%5D=2018-11-05
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"b6cc6f46d5945793ad237cb5692fd8649a2df99c"'
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v3.2
    body:
      encoding: UTF-8
      string: '{"data":[{"spend":"5","cpm":"100","inline_link_clicks":"0","date_start":"2018-11-05","date_stop":"2018-11-05"}],"paging":{"cursors":{"before":"MAZDZD","after":"MAZDZD"}}}'
  recorded_at: Tue, 06 Nov 2018 12:34:35 GMT
recorded_with: VCR 4.0.0
