---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v9.0/act_<FACEBOOK_ACCOUNT_ID>?access_token=<FACEBOOK_API_TOKEN>&fields=name,id,currency,account_status,disable_reason
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"54aedd80792ccb11068e6b1b65685442701aee51"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v9.0
      X-Business-Use-Case-Usage:
      - '{"<FACEBOOK_ACCOUNT_ID>":[{"type":"ads_management","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
    body:
      encoding: UTF-8
      string: '{"name":"Heartstrings","id":"act_<FACEBOOK_ACCOUNT_ID>","currency":"USD","account_status":2,"disable_reason":1}'
  recorded_at: Tue, 01 Dec 2020 14:15:41 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v9.0/act_<FACEBOOK_ACCOUNT_ID>/adsets?access_token=<FACEBOOK_API_TOKEN>&fields=id,status,name,promoted_object,daily_budget,campaign_id&limit=50&time_range%5Bsince%5D=2020-11-30&time_range%5Buntil%5D=2020-11-30
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"6471c5e2ec2aa9735fcbc5988a3c8272f6e84a83"'
      X-Ad-Account-Usage:
      - '{"acc_id_util_pct":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v9.0
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"23846179992640367","status":"ACTIVE","name":"adset1automatic24","promoted_object":{"pixel_id":"416938009327585","custom_event_type":"LEAD"},"daily_budget":"5000","campaign_id":"23846179992580367"},{"id":"23846154233520367","status":"ACTIVE","name":"Opslag:
        \"f\u00e5 \u00f8je p\u00e5 det skjulte dyrs tid\"","promoted_object":{"page_id":"101656805128883"},"campaign_id":"23846154233460367"},{"id":"23846150030600367","status":"ACTIVE","name":"Adset1","promoted_object":{"page_id":"101656805128883"},"daily_budget":"1000","campaign_id":"23846150030500367"}],"paging":{"cursors":{"before":"QVFIUlpmUkdZAcl9WWkdMLWs1anY0N2VwTUJpXzExd1Ixd0V2eEhGUjBfWDJ4dW1uTHV1bERVNmFOYWMxVlNmLWIzUTU4VTdxcGI5YUVBN3dIckFCRVl2Ml9n","after":"QVFIUlFicjBtcW5Mal9YelpyOGtOeGthSzd0OHNIXzRQVk5pNm05QWI4NF9Kb1NKVVJKN2ZAac2FSSTBfNXNQOU90N2FYSF8tMnZApUVZARRkJOem9tWnNtQW5n"}}}'
  recorded_at: Tue, 01 Dec 2020 14:15:42 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v9.0/23846179992640367/insights?access_token=<FACEBOOK_API_TOKEN>&fields=spend,cpm,cost_per_inline_link_click,inline_link_click_ctr,actions,inline_link_clicks,frequency&limit=10&time_range%5Bsince%5D=2020-11-30&time_range%5Buntil%5D=2020-11-30
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"dab467d498c370dc4c5f719ba3cce5fbb0b2fdf9"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v9.0
      X-Business-Use-Case-Usage:
      - '{"<FACEBOOK_ACCOUNT_ID>":[{"type":"ads_insights","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"spend":"25.38","cpm":"23.587361","cost_per_inline_link_click":"1.269","inline_link_click_ctr":"1.858736","actions":[{"action_type":"landing_page_view","value":"13"},{"action_type":"link_click","value":"20"},{"action_type":"offsite_conversion.fb_pixel_view_content","value":"14"},{"action_type":"post_reaction","value":"1"},{"action_type":"post_engagement","value":"21"},{"action_type":"page_engagement","value":"21"},{"action_type":"omni_view_content","value":"14"},{"action_type":"view_content","value":"14"}],"inline_link_clicks":"20","frequency":"1.03164","date_start":"2020-11-30","date_stop":"2020-11-30"}],"paging":{"cursors":{"before":"MAZDZD","after":"MAZDZD"}}}'
  recorded_at: Tue, 01 Dec 2020 14:15:42 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v9.0/23846179992640367?access_token=<FACEBOOK_API_TOKEN>&fields=id,status,name,promoted_object,daily_budget,campaign_id,campaign
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"727f1fc6066babe6ee0320b9b5f10e190f944af6"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v9.0
      X-Business-Use-Case-Usage:
      - '{"<FACEBOOK_ACCOUNT_ID>":[{"type":"ads_management","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
    body:
      encoding: ASCII-8BIT
      string: '{"id":"23846179992640367","status":"ACTIVE","name":"adset1automatic24","promoted_object":{"pixel_id":"416938009327585","custom_event_type":"LEAD"},"daily_budget":"5000","campaign_id":"23846179992580367","campaign":{"id":"23846179992580367"}}'
  recorded_at: Tue, 01 Dec 2020 14:15:42 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v9.0/23846179992640367/ads?access_token=<FACEBOOK_API_TOKEN>&limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"c48bbb0d9d62c0e602997288e2452487d2a6a16d"'
      X-Ad-Account-Usage:
      - '{"acc_id_util_pct":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v9.0
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"23846179992660367"}],"paging":{"cursors":{"before":"QVFIUlpWc0ZASSlF0X1ZAFWU1wTTdZASVlITjE4N3JtMy1UNVh4RTBuNlZAsQmcwbVRzS0s3am9QNGt5eS1fVE0wcVBUYUpNSkYwN016dHBfRmVtSWtYbmlTbEZAR","after":"QVFIUlpWc0ZASSlF0X1ZAFWU1wTTdZASVlITjE4N3JtMy1UNVh4RTBuNlZAsQmcwbVRzS0s3am9QNGt5eS1fVE0wcVBUYUpNSkYwN016dHBfRmVtSWtYbmlTbEZAR"}}}'
  recorded_at: Tue, 01 Dec 2020 14:15:42 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v9.0/23846179992660367/insights?access_token=<FACEBOOK_API_TOKEN>&fields=quality_ranking&limit=10&time_range%5Bsince%5D=2020-11-30&time_range%5Buntil%5D=2020-11-30
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"654e4f83c62634f46f2e5464ba5cb557837122dc"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v9.0
      X-Business-Use-Case-Usage:
      - '{"<FACEBOOK_ACCOUNT_ID>":[{"type":"ads_insights","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
    body:
      encoding: UTF-8
      string: '{"data":[{"quality_ranking":"BELOW_AVERAGE_20","date_start":"2020-11-30","date_stop":"2020-11-30"}],"paging":{"cursors":{"before":"MAZDZD","after":"MAZDZD"}}}'
  recorded_at: Tue, 01 Dec 2020 14:15:43 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v9.0/23846179992660367?access_token=<FACEBOOK_API_TOKEN>&fields=id,name
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"b0416b28aec8f10825f2a7c2c653300eecd6b5e2"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v9.0
      X-Business-Use-Case-Usage:
      - '{"<FACEBOOK_ACCOUNT_ID>":[{"type":"ads_management","call_count":2,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
    body:
      encoding: UTF-8
      string: '{"id":"23846179992660367","name":"ad1"}'
  recorded_at: Tue, 01 Dec 2020 14:15:44 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v9.0/act_<FACEBOOK_ACCOUNT_ID>/campaigns?access_token=<FACEBOOK_API_TOKEN>&fields=objective,name&limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"b76f3eb7adb11dc08abf587fa7ba9bf58759608c"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v9.0
      X-Business-Use-Case-Usage:
      - '{"<FACEBOOK_ACCOUNT_ID>":[{"type":"ads_management","call_count":2,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"objective":"CONVERSIONS","name":"SG - Heartstrings - Conversions","id":"23846179992580367"},{"objective":"POST_ENGAGEMENT","name":"Opslag:
        \"f\u00e5 \u00f8je p\u00e5 det skjulte dyrs tid\"","id":"23846154233460367"},{"objective":"PAGE_LIKES","name":"Like
        Campaign: Heartstrings","id":"23846150030500367"}],"paging":{"cursors":{"before":"QVFIUlNycGRRajZAqRV9pdGU5LWVVc3lOT3NaclZAZATVR1NzZAlVGxEX0ZAhMktBWHVQaWY4d1hUN2ZApVU9EdGVsRkE4S21CS0xBdW05WTBnNWdmN3k1dlNFdkZAn","after":"QVFIUnlxMVBabFBmRHluVjhnb2ZA0aEtQa1VoZAW1LUnhCMmV0WjhfYXFyeGs3MThnVE1wRk1LcWdfRGhWc2tQaUpnSGw1bXREYkVYZADlJaUp6X2hQd29jbmN3"}}}'
  recorded_at: Tue, 01 Dec 2020 14:15:44 GMT
recorded_with: VCR 6.0.0
