---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v8.0/act_<FACEBOOK_ACCOUNT_ID>?access_token=<FACEBOOK_API_TOKEN>&fields=name,id,currency,account_status,disable_reason
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"c2a71885ed573f860744d893211b8aca28984086"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v8.0
      X-Business-Use-Case-Usage:
      - '{"<FACEBOOK_ACCOUNT_ID>":[{"type":"ads_management","call_count":0,"total_cputime":0,"total_time":0,"estimated_time_to_regain_access":0}]}'
    body:
      encoding: UTF-8
      string: '{"name":"Detailara","id":"act_<FACEBOOK_ACCOUNT_ID>","currency":"USD","account_status":1,"disable_reason":0}'
  recorded_at: Wed, 11 Nov 2020 11:39:38 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v8.0/act_<FACEBOOK_ACCOUNT_ID>/adsets?access_token=<FACEBOOK_API_TOKEN>&fields=id,status,name,promoted_object,daily_budget,campaign_id&limit=50&time_range%5Bsince%5D=2018-11-05&time_range%5Buntil%5D=2018-11-05
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"bac296630afb87244c096596a013addd670c4c5a"'
      X-Ad-Account-Usage:
      - '{"acc_id_util_pct":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v8.0
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"23846117154760168","status":"ACTIVE","name":"adset1auto25","promoted_object":{"pixel_id":"711561972902264","custom_event_type":"LEAD"},"daily_budget":"5000","campaign_id":"23846117154680168"},{"id":"23846103963260168","status":"ACTIVE","name":"adset1auto25","daily_budget":"5000","campaign_id":"23846103963190168"},{"id":"23845891184360168","status":"ACTIVE","name":"Ad
        Set 1","promoted_object":{"page_id":"101438691740569"},"daily_budget":"100","campaign_id":"23845891184280168"}],"paging":{"cursors":{"before":"QVFIUmFoa2lrbXhVaXE1WTREQndHLWpiMjVLVnM3eTJELVJDME1yb0VQVWJuVmZATVVc5ZAG1lTXRfVC0xLUtOMHlKMDVMYV9TV01CVGllMU44WkoyekFIWWV3","after":"QVFIUnA2X2NaWTFnZAmg1SVJtbnl6cWZAOeXVWZADRuSlltc0p6THZAHZAWZAsYTdQLU9XdHROeGcwN29xX3RTaV80aFNZAMDN6WUhiMU9TX0pwSmI1dHROMDhuWEJn"}}}'
  recorded_at: Wed, 11 Nov 2020 11:39:39 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v8.0/23846117154760168/insights?access_token=<FACEBOOK_API_TOKEN>&fields=spend,cpm,cost_per_inline_link_click,inline_link_click_ctr,actions,inline_link_clicks,frequency&limit=10&time_range%5Bsince%5D=2018-11-05&time_range%5Buntil%5D=2018-11-05
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"1050253aec7b29caff644806927dabfa81406eee"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v8.0
      X-Business-Use-Case-Usage:
      - '{"<FACEBOOK_ACCOUNT_ID>":[{"type":"ads_insights","call_count":0,"total_cputime":0,"total_time":0,"estimated_time_to_regain_access":0}]}'
    body:
      encoding: UTF-8
      string: '{"data":[]}'
  recorded_at: Wed, 11 Nov 2020 11:39:39 GMT
[...]
- request:
    method: get
    uri: https://graph.facebook.com/v8.0/23845891184360168/insights?access_token=<FACEBOOK_API_TOKEN>&fields=spend,cpm,cost_per_inline_link_click,inline_link_click_ctr,actions,inline_link_clicks,frequency&limit=10&time_range%5Bsince%5D=2018-11-05&time_range%5Buntil%5D=2018-11-05
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"1050253aec7b29caff644806927dabfa81406eee"'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v8.0
      X-Business-Use-Case-Usage:
      - '{"<FACEBOOK_ACCOUNT_ID>":[{"type":"ads_insights","call_count":0,"total_cputime":0,"total_time":0,"estimated_time_to_regain_access":0}]}'
    body:
      encoding: UTF-8
      string: '{"data":[]}'
  recorded_at: Wed, 11 Nov 2020 11:39:40 GMT
recorded_with: VCR 6.0.0
